{% extends "rango/base.html" %}

{% block body_block %}
    <div class="login">
        <h4 class="login-header">Login</h4>
        <div class="login-container">
            <form class="form-signin" role="form" method="post" action=".">
                {% csrf_token %}
                <div class="input-field">
                    <input type="text" name="username" id="id_username" required autofocus>
                    <label for="inputUsername" class="sr-only">Username</label>
                </div>
                <div class="input-field">
                    <input type="password" name="password" id="id_password" required>
                    <label for="inputPassword" class="sr-only">Password</label>
                </div>
                <button class="login-btn btn waves-effect waves-light" type="submit" value="Submit">Login</button>
            </form>
        </div>
    </div>
    <!-- <h1>Login</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Log in">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <p>
        Not a member?
        <a href="{% url 'registration_register' %}">Register</a>
    </p> -->
{% endblock body_block %}