{% extends "rango/base.html" %}
{% block body_block %}
    <div class="registration-first-step">
        <h4 class="header">Register Here</h4>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <form role="form" method="post" action=".">
                        {% csrf_token %}
                        <div class="required input-field">
                            <!-- <label class="required" for="id_username">Username:</label> -->
                            <input id="id_username" class="validate" maxlength="30" name="username" type="text">
                            <label for="id_username">Username</label>
                            <span class="helptext">
                                Required. 30 characters or fewer. Letters, digits and 0/./+/-/_ only.
                            </span>
                        </div>
                        <div class="required input-field">
                            <!-- <label class="required" for="id_email">Email:</label> -->
                            <input class="validate" id="id_email" name="email" type="email">
                            <label for="id_email">Email</label>
                        </div>
                        <div class="required input-field">
                            <!-- <label class="required" for="id_password1">Password:</label> -->
                            <input class="validate" id="id_password1" name="password1" type="password">
                            <label for="id_password1">Password</label>
                        </div>
                        <div class="required input-field">
                            <!-- <label class="required" for="id_password2">Password confirmation:</label> -->
                            <input class="validate" id="id_password2" name="password2" type="password">
                            <label for="id_password2">Confirm Password</label>
                            <span class="helptext">
                                Enter the same password as before, for verification
                            </span>
                        </div>
                        <button id="submit-first-registration-form" class="btn waves-effect waves-light" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- <h1>Register Here</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{ user_form.as_p }}
        <input type="submit" value="Submit">
    </form> -->
{% endblock body_block %}