.form-container {
    /* width: 60%; */
    padding-top: 10vh;
}

.form-container .add-category-header {
    padding-bottom: 9vh;
    text-align: center;
}

.form-container .add-category-fields .add-category-btn {
    margin: auto;
    display: block;
    margin-top: 5vh;
}