.add-page-manually {
    padding: 20px
}

/* Form container */

.add-page-manually .form-container {
    padding-top: 50px;
}

.add-page-manually .form-container .row .col #page_form .add-page-manually-btn {
    margin-top: 30px;
}