/* -------------- Fonts -------------- */
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Light.ttf');
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e6e6e6;
}

/* -------------- Background colors -------------- */
.dark-blue-bg {
    background-color: #001a33 !important;
}

.dark-green-bg {
    background-color: #012901 !important;
}

.semi-dark-green-bg {
    background-color: #003300;
}

.light-green-bg {
    background-color: #0b520b;
}

.white-bg {
    background-color: rgb(241, 236, 236) !important;
}

.dirty-white-bg {
    background-color: #e6e6e6;
}

/* -------------- Colors -------------- */
.white-color {
    color: rgb(241, 236, 236) !important;
}

.dirty-white-color {
    color: #999999 !important;
}

.dark-green-color {
    color: #012901 !important;
}

.semi-dark-green-color {
    color: #003300 !important;
}

.light-green-color {
    color: #026e02 !important;
}

.light-blue-color {
    color: #1a75ff;
}

.dark-blue-color {
    color: #001a33;
}