.list-profiles .list-profiles-header {
    padding: 20px;
}

.list-profiles .list-profiles-container {
    height: 400px;
    overflow: auto;
}

.list-profiles .list-profiles-container .card-panel {
    width: 30%; 
    height: 80px;
    margin: 10px; 
    float: left;
}

/* TODO: add some margins on top link (username) */
.list-profiles .list-profiles-container .card-panel > .row > .s3 > img {
    width: 52px;
    height: 52px;
}

.list-profiles .list-profiles-container .card-panel > .row > .s3 > img {
    margin-top: -10px;
}

.list-profiles .list-profiles-container .card-panel > .row > .s9 {
    margin-top: -8px;
    font-size: 16px;
}