.login {
    width: 60%;
}

.login .login-header {
    padding: 90px 0 45px 0;
    text-align: center;
}

.login .login-container .form-signin {
    padding-top: 20px;
}

.login .login-container .form-signin .login-btn {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
}