{% extends "rango/base.html" %}

{% block title_block %}
    About
{% endblock title_block %}

{% block body_block %}
    {% comment %} <h4>Visits: {{ visits }}</h4> {% endcomment %}
    <h4 class="jumbotron-heading">This tutorial has been put together by {{ my_name }}</h4>
    <img id="about-img" src="/rango{{MEDIA_URL}}cat.jpeg" alt="Cat staring"><br>
    <p class="hover-me">Hover me!</p>
    <a class="waves-effect waves-light btn-small" id="about-btn">
        Click me Onegai *_*
    </a>
{% endblock body_block %}