{% extends "rango/base.html" %}

{% block title_block %}
    Add Page
{% endblock title_block %}

{% block body_block %}
    <div class="add-page-manually">
        <h4>Add Page to {{ category }}</h4>
        <div class="form-container">
            <div class="row">
                <div class="col s12">
                    <form id="page_form" method="post" action="{% url 'rango:add_page' category.slug %}">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            {{ field.errors }}
                            {{ field.help_text }}
                            {{ field }}<br>
                        {% endfor %}
                        <button class="add-page-manually-btn btn btn-small waves-effect waves-light" data-catname="{{ category.slug }}" type="submit" name="submit">Add a Page</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- <div>
        {% if category %}
            <form id="page_form" method="post" action="{% url 'rango:add_page' category.slug %}">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}<br>
                {% endfor %}
                <input type="submit" name="submit" value="Create Page">
            </form>
        {% else %}
            A category by this name does not exist
        {% endif %}
    </div> -->
{% endblock body_block %}