<!DOCTYPE html>
{% load static %}
{% load rango_template_tags %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            Rango - {% block title_block %}How to Tango with Django!{% endblock %}
        </title>
        
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
        <!-- Materialize CSS -->
        <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
        <!-- CSS files -->
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/about.css' %}">
        <link rel="stylesheet" href="{% static 'css/add_category.css' %}">
        <link rel="stylesheet" href="{% static 'css/list_profiles.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/category.css' %}">
        <link rel="stylesheet" href="{% static 'css/add_page.css' %}">
        <link rel="stylesheet" href="{% static 'css/registration_form.css' %}">
        <link rel="stylesheet" href="{% static 'css/profile_registration.css' %}">
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    
    <body>
        <!-- Mobile Collapse -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{% url 'rango:index' %}">Home</a></li>
            <li><a href="{% url 'rango:about' %}">About</a></li>
            <!-- Dropdown Trigger -->
            {% if user.is_authenticated %}
                <li><a href="{% url 'rango:add_category' %}">Add Category</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'rango:profile' user.username %}">Profile</a></li>
                <li><a href="{% url 'rango:list_profiles' %}">List Profiles</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
            {% else %}
                <li><a href="{% url 'registration_register' %}">Register Here</a></li>
                <li><a href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}
        </ul>
        <!-- Materialize navbar -->
        <nav>
            <div class="nav-wrapper">
                <a href="{% url 'rango:index' %}" class="brand-logo">Rango</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'rango:index' %}">Home</a></li>
                    <li><a href="{% url 'rango:about' %}">About</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'rango:add_category' %}">Add Category</a></li>
                        <!-- Dropdown structure for authenticated -->
                        <ul id="dropdown1" class="dropdown-content">
                            <li><a href="{% url 'rango:profile' user.username %}">Profile</a></li>
                            <li><a href="{% url 'rango:list_profiles' %}">List Profiles</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
                        </ul>
                        <!-- Dropdown Trigger -->
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
                    {% else %}
                        <li><a href="{% url 'registration_register' %}">Register Here</a></li>
                        <li><a href="{% url 'auth_login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- Page Content -->
        <div class="page-content">
            <div class="row">
                <div id="sidebar" class="col m2 white-bg hide-on-small-only">
                    <div class="input-field">
                        <!-- <i class="material-icons prefix">search</i> -->
                        <input id="suggestion" type="search" placeholder="Search...">
                        <label class="label-icon" for="search"></label>
                        <!-- <i class="material-icons">close</i> -->
                    </div>
                    <!-- <input type="search" class="form-control ds-input" id="suggestion" placeholder="Search..."> -->
                    <div id="cats">
                        {% block sidebar_block %}
                            {% get_category_list category %}
                        {% endblock %}
                    </div>
                </div>
                
                <div id="main-content" class="col s12 m10">		
                    {% block body_block %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Tango with Django 2</h5>
                        <p class="grey-text text-lighten-4">A beginner's guide to web development with Django 2</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Sources</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://www.tangowithdjango.com" target="_blank">Tango with Django</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.djangoproject.com/" target="_blank">Django</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://materializecss.com/" target="_blank">Materialize CSS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2019 Tango With Django 2 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
                </div>
            </div>
        </footer>
        
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <!-- JS files -->
        <script src="{% static 'js/base.js' %}"></script>
        <script src="{% static 'js/category.js' %}"></script>
        <script src="{% static 'js/profile.js' %}"></script>
        <script src="{% static 'js/add_page.js' %}"></script>
        <script src="{% static 'js/registration_form.js' %}"></script>
        <script src="{% static 'js/rango-jquery.js' %}"></script>
        <script src="{% static 'js/rango-ajax.js' %}"></script>
        <!-- Materialize JS -->
        <script src="{% static 'js/materialize_init.js' %}"></script>
        <script src="{% static 'js/materialize.min.js' %}"></script>
    </body>
</html>