<!-- Sidebar -->
<ul class="sidenav sidenav-fixed white-bg">
    {% if cats %}
        {% for c in cats %}
            {% if c == act_cat %}
                <li class="active">
                    <a href="{% url 'rango:show_category' c.slug %}" class="light-green-color">
                        <i class="material-icons light-green-color">archive</i>
                        {{ c.name }}
                    </a>
                </li>
            {% else %}
                <li style="width: 100%;">
                    <a href="{% url 'rango:show_category' c.slug %}" class="dark-green-color">
                        <i class="material-icons dark-green-color">archive</i>
                        {{ c.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    {% else %}
            <li style="width: 100%;">No Categories Yet!</li>
    {% endif %}
</ul>