<!-- For sidebar -->
<ul class='nav flex-column'>
    {% if cats %}
        {% for c in cats %}
            {% if c == act_cat %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'rango:show_category' c.slug %}">
                        <span data-feather="archive"></span>
                        {{ c.name }}
                    </a>
                    {% comment %} <strong><a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a></strong> {% endcomment %}
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'rango:show_category' c.slug %}">
                        <span data-feather="archive"></span>
                        {{ c.name }}
                    </a>
                    {% comment %}<a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a>{% endcomment %}
                </li>
            {% endif %}
        {% endfor %}
    {% else %}
            <li class="nav-item">No Categories Yet!</li>
            {% comment %} <li><strong>There are no categories present</strong></li> {% endcomment %}
    {% endif %}
</ul>