<!-- For sidebar -->
<ul class='nav flex-column'>
    <div>
        <form class="p-2" id="user_form" method="post" action=".">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" size="50" name="query" value="{{ query }}" id="query" placeholder="Search category">
            </div>
            <!-- <button class="btn btn-primary" type="submit" name="submit" value="Search">
                Search
            </button> -->
        </form>
        <div>
            {% if result_list %}
                <h3>Results</h3>
                <div class="list-group">
                    {% for result in result_list %}
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">
                                <a href="{{ result.link }}">{{ result.title|safe|escape }}</a>
                            </h4>
                            <p class="list-group-item-text">{{ result.summary|safe|escape }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    {% if cats %}
        {% for c in cats %}
            {% if c == act_cat %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'rango:show_category' c.slug %}">
                        <span data-feather="archive"></span>
                        {{ c.name }}
                    </a>
                    {% comment %} <strong><a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a></strong> {% endcomment %}
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'rango:show_category' c.slug %}">
                        <span data-feather="archive"></span>
                        {{ c.name }}
                    </a>
                    {% comment %}<a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a>{% endcomment %}
                </li>
            {% endif %}
        {% endfor %}
    {% else %}
            <li class="nav-item">No Categories Yet!</li>
            {% comment %} <li><strong>There are no categories present</strong></li> {% endcomment %}
    {% endif %}
</ul>