{% extends "rango/base.html" %}

{% load static %}

{% block title_block %}
    User Profiles
{% endblock title_block %}

{% block body_block %}
    <div class="list-profiles">
        <h4 class="list-profiles-header">User Profiles</h4>
        <div class="list-profiles-container col s12">
            {% if userprofile_list %}
                {% for listuser in userprofile_list %}
                    <div class="card-panel">
                        <div class="row">
                            <div class="col s3">
                                {% if listuser.picture %}
                                    <img src="/rango{{ MEDIA_URL }}{{ listuser.picture }}" alt="profile-picture" class="circle responsive-img">
                                {% else %}
                                    <img src="/rango{{ MEDIA_URL }}placeholder.png" alt="profile-picture" class="circle responsive-img">
                                {% endif %}
                            </div>
                            <div class="col s9">
                                <a id="username" href="{% url 'rango:profile' listuser.user.username %}">
                                    <strong>{{ listuser.user.username }}</strong>
                                </a>
                                <br>
                                {% if listuser.website %}
                                    <a class="user-website"  style="margin-top: 30px;" href="{{ listuser.website }}" target="_blank">{{ listuser.user.username }}'s website</a>
                                {% else %}
                                    <a class="user-website"  style="margin-top: 20px;" href="https://www.tangowithdjango.com" target="_blank">{{ listuser.user.username }}'s website</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>There are no users for the site.</p>
            {% endif %}
        </div>
    </div>
{% endblock body_block %}   