{% extends "rango/base.html" %}
{% load static %}

{% block title_block %}
    {{ selecteduser.username }} Profile
{% endblock title_block %}

{% block body_block %}
    <div class="profile">
        <!-- <h4 class="header">{{ selecteduser.username }}</h4> -->
                    <!-- TODO: change design of this templatem, and show placeholder if img is null -->
        <div class="col s4 profile-picture-container">
            {% if userprofile.picture %}
                <img src="/rango{{ MEDIA_URL }}{{ userprofile.picture }}" alt="{{ selecteduser.username }}">
            {% else %}
                <img src="/rango{{ MEDIA_URL }}profile-picture-placeholder.jpg" alt="{{ selecteduser.username }}">
            {% endif %}
        </div>
        <br>
        <div class="col s8 profile-info-container">
            {% if selecteduser.username == user.username %}
                <h2 class="header-username">{{ selecteduser.username }}</h2>
                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- {{ form.as_p }} -->
                    <div class="input-field">
                        <input disabled id="website" type="url" name="website" class="validate" value="{{ userprofile.website }}">
                        <label for="website">Website</label>
                    </div>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input disabled id="file-btn" type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input disabled id="file-field" class="file-path validate" type="text" value="{{ userprofile.picture }}">
                        </div>
                    </div>
                    <button id="save-changes-btn" data-user="{{ selecteduser.username }}" class="btn waves-effect waves-light hide" type="submit" value="Submit">Save changes</button>
                    <button id="edit-profile-btn" class="btn waves-effect waves-light dark-blue">Edit profile</button>
                </form>
            {% else %}
                {% if userprofile.website %}
                    <p>
                        <strong>Website:</strong>
                        <a href="{{ userprofile.website }}">{{ userprofile.website }}</a>
                    </p>
                {% else %}
                    <p>
                        <strong>Website:</strong>
                        <a href="https://www.tangowithdjango.com/">https://www.tangowithdjango.com/</a>
                    </p>
                {% endif %}
            {% endif %}
        </div>
        <div id="edit_profile"></div>
    </div>
{% endblock body_block %}